/*Brian Maina, 12/10, IT202-001,  Project-Part3*/
html {
    background-color: lightblue;
}

img {
    padding: 10pt;
}

#head_home img {
   float: left;
 
    
}
h1, li {
  
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
p {
   

    font-family: 'Courier New', Courier, monospace;
    text-align: center;;
    font-size: 10px;
    
}
h3 {
    margin-left: 50px
}
a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.wrapper1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    background-color: #fff;
    color: #444;
    width: 250px;
    height: 150px;
    margin-left: 33px;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    text-align: center;
  }